<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<h3>Merge Articles</h3>
<%= form_tag :action=>"merge", :id => @article.id do %>
<%= error_messages_for 'article' %>
  <label for="merge_with"><%= _("Article ID")%></label>
  <div class='input'>
    <%= text_field :merge_with, :merge_id  %>
  </div>
  <%= submit_tag("Merge") %>
<% end %>
